
@{
    ViewBag.Title = "ShowItemDetails";
}

<h2>ShowItemDetails</h2>

@model Lab21.Models.Item

<div class="panel-collapse">
    <div class="panel-primary">

        <div class="col-md-3 col-xs-2">

            <h4>@Model.ItemName</h4>
            <h4>$@Model.ItemPrice.ToString("0.00")</h4>
            <h4>@Model.ItemDescription</h4>
            <a href="/Home/Index">Back to List</a>

        </div>
    </div>
</div>

